body{
    font-family:"roboto",sans-serif;
}
*{
    margin: 0;
    padding:0;
    list-style: none;
    text-decoration: none;
}
#page1 {
    background: linear-gradient(rgb(151, 224, 68),rgb(0, 0, 0)), url("hair.jpg");
    background-size:cover;
     height:1000px;
     width:100%;  
}
#page1 h1{
    font-style: oblique;
    text-align:center;
    font-size:40px;
}
#page1 h2,h3{
    font-style: italic;
    text-align:center;
    font-size:25px;
}

.page1-img{
    max-width: 350px;
   
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    }
    #page1 p{
        position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%,-50%);
       font-size:20px;
       font-style: italic;
    }
    #page1 p2{
        position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%,-50%);
       font-style: italic;
    }
    #page1 p3{
        position: absolute;
    left: 50%;
    top: 83%;
    transform: translate(-50%,-50%);
       font-style: italic;
    }

#smart-button-container{
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%,-50%);
}
#sharethis-inline-share-buttons{
    position: absolute;
    left: 50%;
    top: 112%;
    transform: translate(-50%,-50%);
}
#sharethis-inline-share-buttons h2{
    font-size:8px;
    width:200px;
}
#sharethis-inline-share-buttons h4{
    font-size:8px;
    margin-left:80px;
}




